.bottom-navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;

  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

  color: white;
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.icon {
  font-size: 22px;
}

/* CREATE BUTTON (TikTok style) */
.create-btn {
  position: relative;
  width: 55px;
  height: 35px;
}

.create-bg {
  position: absolute;
  top: -4px;
  left: -6px;
  right: 0;
  margin: auto;
  
  width: 55px;
  height: 35px;
  border-radius: 10px;

  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;

  /* TikTok left red / right cyan */
  border-left: 6px solid #ff0050;
  border-right: 6px solid #00f2ea;
}

.plus-icon svg {
  color: black;
  font-size: 22px;
}
