.footer-left {
  color: white;
  max-width: 80%;
}

.footer-left h3 {
  margin: 0;
  font-size: 16px;
}

.footer-left p {
  margin: 4px 0;
  font-size: 14px;
}

.ticker {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ticker marquee {
  width: 150px;
}
