.footer-right {
  position: absolute;
  right: -15px;

  /* GIẢI PHÁP CHÍNH: căn giữa video chuẩn TikTok */
  top: 45%;                     
  transform: translateY(-35%);  /* đẩy lên một chút */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  z-index: 40;
}

.sidebar-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userprofile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid white;
}

.useradd {
  font-size: 14px;
  margin-top: -12px;
  color: red;
  cursor: pointer;
}

.action-icon {
  font-size: 26px;
  color: white;
}

.sidebar-icon p {
  margin-top: 3px;
  font-size: 12px;
  color: white;
}

.record-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  filter: invert(1);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
