.video {
  position: relative;
  height: 100vh;        /* QUAN TRỌNG: full màn hình */
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
  background-color: black;
}

.player {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-controls {
  position: absolute;
  bottom: 110px;       /* SAFE AREA CHUẨN TIKTOK */
  left: 12px;
  width: 70%;
  color: white;
  z-index: 30;
}
